<h1><%= @post.id ? 'Edit' : 'Create' %></h1>
<hr />
<%= form_for [@user_bio, @post] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :body, required: true, autofocus: true %>
  <br />
  <%= f.submit %>
<% end %>